@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Poppins", sans-serif;
}

.logo {
  font-family: "Carter One", cursive;
}

*::-webkit-scrollbar {
  /* width: 8px; */
  width: 1px;
}

*::-webkit-scrollbar-thumb {
  /* background: #909090; */
  background: transparent;
  background-clip: padding-box;
  border-radius: 10px;
}

@layer components {
  .center_y {
    @apply flex items-center;
  }
  .center_xy {
    @apply flex justify-center items-center;
  }
  .animation {
    @apply transition-all duration-300;
  }
}
